backend_bucket = "some.bucket"
cidr_blocks = ["10.10.1.0/24", "10.10.2.0/24"]
public_key = "thekeythatyouwanttoconnectwith"
region = "us-east-1"
subnet_id = "subnet-000000000"
username = "lordshaxx"
vpc_id = "vpc-00000000"
